.footer {
  background: #f8f8f8;
  h4 {
    color: #222;
    font-size: 15px;
  }
  &_container {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "links"
    "newsletter"
    "payment"
    "socials"
    "copywrite"
    ;
    gap: 3rem;
    padding: 1rem;
    @media (min-width : 800px){
        grid-template-areas: 
        "links socials"
        "links newsletter"
        "copywrite payment"
        ;

    }
    @media (min-width : 1200px){
        max-width: 900px;
        margin: 0 auto;
    }
  }
  img {
    width: 140px;
    height: 40px;
    object-fit: contain;
  }
  &_flex{
    display: flex;
    margin-top: 10px;
    gap: 5px;
  }
  &_links {
    grid-area: links;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    ul {
      padding: 5px;
      li {
        font-size: 12px;
        span {
          color: #666;
          line-height: 23px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &_socials {
    grid-area: socials;
    section {
      ul {
        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 1rem;
        li {
          font-size: 2rem;
          color: #666;
          &:hover {
            color: $color_blue;
          }
        }
      }
    }
  }

  &_newsletter {
    grid-area: newsletter;
    input {
      outline: none;
      border: 1px solid #999;
      flex: 1;
      height: 40px;
      font-size: 14px;
      padding-left: 10px;
    }
    button{
        width: 160px;
    }
    p{
        margin-top: 10px;
        font-size: 12px;
        color : #666;
        a{
            color: $color_blue;
            text-decoration: underline;
        }
    }
  }

  &_payment{
    grid-area: payment;

  }
  &_flexwrap{
    display: flex;
    flex-wrap: wrap;
     gap: 10px;
     margin-top: 1rem;
     img{
        width: 60px;
        height: 36px;
        object-fit: cover;
     }    
  }
  &_copywrite{
    grid-area: copywrite;
    section{
        font-size: 12px;
        color : #666;
        padding-bottom: 10px;
    }
    ul{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 2rem;
        li{
            position: relative;
            text-decoration: underline;
            &::after{
                content: "";
                width: 1px;
                height: 15px;
                background-color: #666;
                position: absolute;
                right: -1rem;
            }
            &:last-of-type::after{
                display: none;
            }
        }
    }
  }
}
